/* ===========================================
   ASPECT RATIO UTILITIES
   Aspect ratio property utilities
   =========================================== */

.aspect-auto {
  aspect-ratio: auto;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}


