/* ===========================================
   RESIZE UTILITIES
   Resize property utilities
   =========================================== */

resize-none {
  resize: none;
}

resize-y {
  resize: vertical;
}

resize-x {
  resize: horizontal;
}

resize {
  resize: both;
}


