/* ===========================================
   Z-INDEX UTILITIES
   Z-index property utilities
   =========================================== */

.z-0 {
  z-index: var(--z-index-0);
}

.z-10 {
  z-index: var(--z-index-10);
}

.z-20 {
  z-index: var(--z-index-20);
}

.z-30 {
  z-index: var(--z-index-30);
}

.z-40 {
  z-index: var(--z-index-40);
}

.z-50 {
  z-index: var(--z-index-50);
}

.z-auto {
  z-index: var(--z-index-auto);
}


